---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import Highlights from "../sections/Highlights.astro";
import Services from "../sections/Services.astro";
import Workflow from "../sections/Workflow.astro";
import Us from "../sections/Us.astro";
import Contact from "../sections/Contact.astro";
---

<Layout title="Like a Pro - Grabación de partidos">
  <main>
    <Header />
    <Hero />
    <Services />
    <Highlights />
    <Workflow />
    <Us />
    <Contact />
  </main>
</Layout>
