---
interface Props {
  icon: string;
  title: string;
  description: string[];
}

const { icon, title, description } = Astro.props;
---

<div
  class="w-72 2xl:w-80 border-4 rounded-3xl border-[#EEEEEE] flex flex-col items-center text-center"
>
  <img src={icon} alt={icon.substring(icon.indexOf("/") + 1, icon.lastIndexOf("."))} class="my-4" />
  <div
    class="border-4 rounded-t-3xl rounded-b-xl border-[#EEEEEE] bg-[#EEEEEE] py-8 space-y-4 w-full h-full"
  >
    <h2 class="font-extrabold text-xl md:text-2xl">
      {title}
    </h2>
    <p class="md:text-xl">
      {description[0]}
      <strong>{description[1]}</strong>
    </p>
  </div>
</div>
