<footer
  class="bg-[#0E3560] flex flex-col items-center justify-center text-center py-12 px-12 md:px-36"
>
  <h1 class="text-4xl md:text-5xl font-extrabold text-white max-w-full px-4">
    Comunícate con nosotros
  </h1>
  <h2 class="text-2xl md:text-3xl text-white max-w-full px-4 mt-4 md:mt-8">
    Escríbenos y agenda tu grabación
  </h2>
  <p class="text-white md:text-2xl">
    * Las grabaciones deben de agendarse como mínimo con un día de anticipación.
  </p>
  <button
    class="bg-white rounded-full flex items-center py-2 px-6 space-x-4 md:py-4 md:px-8 md:space-x-8 mt-4 md:mt-8"
  >
    <img src="/whatsapp.svg" alt="WhatsApp" class="w-14 md:w-16" />
    <h1 class="text-[#268BA9] font-extrabold text-2xl md:text-4xl">
      Graben mi partido
    </h1>
  </button>
</footer>
