<section
  class="flex flex-col text-center bg-cover bg-center bg-[url('/image-girls.jpg')] h-96 md:bg-top md:h-[40rem]"
  id="hero"
>
  <div class="bg-gradient-to-t from-black h-full content-end px-4 pb-4 space-y-2 md:pb-8 md:space-y-8">
    <p class="text-white md:text-3xl">¡YA ESTAMOS LISTOS!</p>
    <h1 class="text-4xl font-extrabold text-white max-w-full md:text-8xl">
      El fútbol amateur nunca<br />se sintió tan profesional
    </h1>
    <p class="text-white md:text-4xl">¡Siéntete #LikeAPro!</p>
  </div>
</section>
