<section
  class="bg-no-repeat bg-contain bg-[url('/mesh.png')] text-center space-y-5 px-4 pb-8 flex flex-col items-center
         md:flex-row md:justify-center md:text-start md:space-x-4"
  id="services"
>
  <img
    src="/football-man.png"
    alt="Football man"
    class="md:max-w-3xl md:-mx-36"
  />
  <div class="space-y-4 md:space-y-8">
    <h1 class="text-4xl md:text-5xl font-black text-[#268BA9]">
      ¿Qué te ofrecemos?
    </h1>
    <h2 class="text-3xl md:text-4xl font-extrabold">
      Siéntete como un profesional en la cancha
    </h2>
    <p class="md:text-2xl">
      Juega tu partido y <strong>#SiénteteLikeAPro</strong> mientras graban tus mejores
      jugadas.
    </p>
  </div>
</section>

<style>
  img {
    mask-image: linear-gradient(to bottom, white 70%, transparent);
  }
</style>
